*{
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 95%;
	line-height: 1.5;
}
a{
	text-decoration:none;
}
#wrapper{
	background-image: url(../images/background.png);
}
header{
	background: #6ecbe6 repeat;
}


#headerInner{
	width:1380px;
	background:url("../images/accent01.png") top left no-repeat;
	height:155px;
	margin-left: auto;
	margin-right: auto;	
}
#formheader{
	width:1380px;
	background:url("../images/accent01.png") top left no-repeat;
	height:115px;
	margin-left: auto;
	margin-right: auto;	

}
#header{
	width:1080px;
	padding-top:40px;
	margin-left: auto;
	margin-right: auto;	
}
#logo {
	float:left;
	width: 236px;
	height: 42px;
}
#header ul{
	float:right;
}
#header ul li{
	list-style-type: none;
	float: left;
	padding-left:10px;
}
#header a:hover{
	opacity: 0.6;
}
#header a{
	transition: opacity 0.3s ease;
}
nav{
	clear:both;
	padding-top:20px;
}
nav ul{
	text-align: center;
	margin:0;
	padding:12px 0 0 0;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
nav ul li a{
	display:block;
	color:#fff;
	transition:color 0.5s ease;
}

/*擬似要素afterですが、書き方は「タグ::after」でした*/
nav ul li a::after{
	display:block;
	content:"";/*空のコンテンツを入れて、擬似要素を表示させる*/
	height:2px;
	background-image:url(../images/line01.png);
	background-repeat:repeat-x;
	background-position:bottom;
	opacity:0;/*hover前は、線を見せないようにする*/
	transition:opacity 0.5s ease;/*hoverの際、徐々に変わるようにする（opacityの変化をゆっくりに）*/
}

/*hover→afterの順でした。。すみません。*/
nav ul li a:hover::after{
	opacity:1;/*hover後は、線を表示させる*/
}
nav ul li a:hover{
	color:#fffd3b;
}
/*
#nav1 a:hover{
	background-image:url(../images/line01.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
*/
#nav2 a:hover{
	background-image:url(../images/line02.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
#nav3 a:hover{
	background-image:url(../images/line03.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
#nav4 a:hover{
	background-image:url(../images/line04.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
#nav5 a:hover{
	background-image:url(../images/line05.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
#nav6 a:hover{
	background-image:url(../images/line06.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}
nav ul li img{
	margin-left:25px;
	margin-right:25px;
}

main{
	margin-bottom:100px;
}
#index #main{
	background-image: url(../images/bg_main.png);
	background-repeat:repeat-x;
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	margin-bottom:30px;
}
main ul#main_nav li{
	list-style-type: none;
}
.main_nav1{
	float:left;
}
.main_nav2{
	float:right;
}
#main_nav a:hover{
	opacity: 0.6;
}
#main_nav a{
	transition: opacity 0.3s ease;
}
#index article{
	clear:both;
	padding-top:50px;
	margin-bottom:100px;
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	overflow:hidden;
}
#whatsnew{
	width:224px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}
.newslist {
    	float: left;
    	width: 750px;
}
.newslist li {
    	padding: 10px 0;
    	border-top: 1px dotted #b2b2b2;
	list-style-type: none;
}
#oshirase{
	border:none;
}
.newslist li span.tag {
    	background: #f4f4f4;
    	border-radius: 20px;
    	display: inline-block;
    	font-size: 11px;
    	margin-right: 10px;
    	text-align: center;
    	width: 100px;
}
.newslist li span.date{
    	font-size: 16px;
    	font-weight:700;
    	margin-right: 10px;
}
aside{
	width:310px;
	height:350px;
	float:right;
	background-color:#ffea3b;
}
aside ul{
	margin-top:10px;
	width:310px;
}
aside ul li{
	list-style-type: none;
}
.banner01{
	margin-left:8px;
}
.banner02{
	margin-left:13px;
}
aside ul li a:hover{
	opacity: 0.6;
}
aside ul li a{
	transition: opacity 0.3s ease;
}
#section02{
	background-color:#6ecbe6;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:40px;
}
#section02_inner{
	width:1080px;
	margin-left: auto;
	margin-right: auto;
	padding-top:20px;
}
#section02_inner h2{
	font-weight:normal;
	float:left;
}
#section02_inner h2 span{
	color:#fff;
	font-size:14px;
	margin:0 0 0 10px;
	padding:0;
	position:relative;
	top:-6px;
}
#more{
	float:right;
	margin-top:10px;
}
#more a:hover{
	opacity: 0.6;
}
#more a{
	transition: opacity 0.3s ease;
}

footer{
	clear:both;
	background-color:#f4f4f4;
}
#footer-inner{
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	padding-top:30px;
}
#footer-inner_top{
	height:178px;
	border-top:1px dotted #b2b2b2;
	border-bottom:1px dotted #b2b2b2;
}
#footer-inner_top ul{
	float:left;
	padding-left:0;
	width:180px;
	line-height:24px;
	margin-top:20px;
}
#footer-inner_top ul li{
	list-style-type: none;
}
#footer-inner_top a{
	color:#000;
}
.footer_nav_h{
	font-size:13px;
	font-weight:bold;
}
.footer_nav{
	padding-left:10px;
	font-size:12px;
	background:url(../images/ten.png) no-repeat center left;
}
.footer_nav01{
	padding-left:20px;
	font-size:12px;
	line-height:1em;
	padding-bottom:0.5em;
}
#footer-inner p{
	clear:both;
	text-align:center;
	padding:30px 0 20px
}
#gnavi{
	color:#fffd3b;
	background-image:url(../images/line04.png);
	background-repeat:no-repeat;
	background-position:bottom;	
}

#breadcrumb{
	margin:0 auto;
	width:1080px;
	padding:20px 0;
}
#breadcrumb li{
	list-style-type: none;
	float:left;
	margin-right:10px;
}
#breadcrumb li a:hover{
	opacity: 0.6;
}
#breadcrumb li a{
	transition: opacity 0.3s ease;
}
#schoollife #main{
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	padding-top:20px;
}
#schoollife article{
	width:1080px;
	margin:50px auto 0;
}
#maincontents{
	background: #fff;
	border: 6px solid #e6f0f3;
	height:730px;
	padding-top:60px;
}
#mainclub{
	width:740px;
	margin:0 auto;
	overflow:hidden;
}
.subsection01{
	width:320px;
	height:305px;
	float:left;
	list-style-type: none;
	font-size:14px;
	line-height: 24px;
}
.subsection02{
	width:320px;
	height:305px;
	float:right;
	list-style-type: none;
	font-size:14px;
	line-height: 24px;
}
.subsection03{
	width:320px;
	height:305px;
	float:left;
	list-style-type: none;
	font-size:14px;
	line-height: 24px;
	margin-top:65px;
}
.subsection04{
	width:320px;
	height:305px;
	float:right;
	list-style-type: none;
	font-size:14px;
	line-height: 24px;
	margin-top:65px;
}

#mainclub h2{
	font-size: 22px;
	letter-spacing: 3px;
   	padding: 30px 0 25px 10px;
	color:#111;
    	background:url(../images/accent04.png) no-repeat right;
	border-top:3px solid #6ecbe6;

}
#main_nav{
	width:1080px;
	padding-top:40px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	overflow:hidden;
}
#schoollife footer{
	top:60px;
}
#mainclub p{
	color:#111;
}
#mainclub a img:hover{
	opacity: 0.6;
}
#mainclub a img{
	transition: opacity 0.3s ease;
}
#form main{
	width:1080px;
	margin-left:auto;
	margin-right:auto;
}
#form header{
	height:80px;
}
#form h2{
	text-align:center;
	border-top:3px solid #111;
	border-bottom:3px solid #111;
	padding-top:12px;
	padding-bottom:12px;
	letter-spacing: 10px;
}
#formtitle{
	display:block;
    	font-size: 33px;
}
#formmain{
	padding-top:40px;
	padding-bottom:40px;
	width:274px;
	margin-left:auto;
	margin-right:auto;
}
#form_inline{
	width:640px;
	margin-left:auto;
	margin-right:auto;
}
#form_inline p a{
	color: #50899b;
    	text-decoration: underline;
}
form{
	margin-top:30px;
}
#form form th {
    	width: 210px;
	font-size: 15px;
	background:url(../images/hissubutton.png) no-repeat center left;
	padding-left:45px;
}
th,td{
	text-align:left;
	height:65px;
}
#form #maincontents{
	height:950px;
}
.textarea{
	border: 2px solid #e6f0f3;
    	width: 430px;
    	font-size: 15px;
   	line-height: 28px;
    	padding: 4px;
}
#form table{
	padding-bottom:40px;
}

.viewer {
    margin: 0 auto;
    width: 1080px;
    height: 472px;
    text-align: left;
    overflow: hidden;
}
 
.viewer ul {
    width: 1080px;
    height: 472px;
    text-align: left;
    overflow: hidden;
    position: relative;
}
 
.viewer ul li {
    top: 0;
    left: 0;
    width: 1080px;
    height: 472px;
    display: none;
    position: absolute;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.pagetop a:hover {
	opacity: 0.6;
}
.pagetop a{
	transition: opacity 0.3s ease;
}


#loopslider {
    margin: 0 auto;
    width: 1080px;
    height: 126px;
    text-align: left;
    position: relative;
    overflow: hidden;
    top:15px;
}
 
#loopslider ul {
    height: 126px;
    float: left;
    display: inline;
    overflow: hidden;
}
 
#loopslider ul li {
    width: 177px;
    height: 126px;
    float: left;
    display: inline;
    overflow: hidden;
    padding-left:30px;
}
#loopslider ul li a:hover{
	opacity: 0.6;
}
#loopslider ul li a{
	transition: opacity 0.3s ease;
}
#tohome{
	float:right;
}
#form article{
	width:1080px;
	margin-right:auto;
	margin-left:auto;
}
#maincontents{
	background: #fff;
	border: 6px solid #e6f0f3;
	height:730px;
	padding-top:60px;
}
abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{
	display:block;
}
